* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 600px;
    margin: 0 auto;
    border: 24px solid #1a617f;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

header, footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 24px;
}


form {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label, span {
    color: #1c9c7c;
    font-weight: bold;
}

input {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

section {
    width: 49%;
    margin-bottom: 12px;
}

.row {
    width: 100%;
}

.row input {
    width: auto;
}

.row label {
    color: black;
    font-weight: normal;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 4px 12px;
    box-sizing: border-box;
}

select {
    width: 100%;
}

.submit {
    width: auto;
    padding: 8px 24px;
    background-color: #1c9c7c;
    color: #fff;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 8px;
    right: 24px;
}